@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/** 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			OPCIONES GENERALES
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++		
**/

body { 	font-size: 10px; 
		font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif"; 
		background-image:url(background.png);
		background-repeat:repeat;
}
/** 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			eSTILOS DE MENUS Y BOTONES
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++		
**/
#menu_prin { 
    background-color: rgba(255, 255, 255, 0.2);
    height: 50px;
    width: 100%;
}

#btnAdd { 
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 5px 5px;
    height: 40px;
    margin-left: 10%;
    position: relative;
    text-transform: uppercase;
    top: 5px;
    width: 40px;
}

#btnAdd:hover { 
    background-color: rgba(0, 0, 0, 0.6);	
}

#btnMain{
    height: 40px;
    position: absolute;
    right: 10%;
    text-transform: uppercase;
    top: 7px;
    }

.icon-plus{
	background-image: url("icons/add.png");
	cursor: pointer;
	height: 25px;
	left: 1%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 20%;
	width: 25px;
}

::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}

.wrapper-dropdown-1 {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 15px;
    margin: 0 auto;
    outline: medium none;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    width: 270px;
}

.wrapper-dropdown-1:after {
	opacity: 0.3;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;    
}

.wrapper-dropdown-1 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* Styles */
    background: #DEDEDE;
    list-style: none;
    font-weight: normal; /*Cancels previous font-weight: bold; */
    /* Hiding */
    opacity: 0;
    pointer-events: none;    
    border-radius: 5px 5px 5px 5px;
}

.wrapper-dropdown-1 .dropdown li {
    background: #F0EEF0;
    padding: 5px; 
}

.wrapper-dropdown-1 .dropdown li a {
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    color: #6E596B;
    display: block;
    padding: 15px;
    text-decoration: none;
    background: #DCD9DB;
}

.wrapper-dropdown-1 .dropdown li:hover a {
    font-weight: bold;
    background: #AD0891;
    color: #FFFFFF;
}


.wrapper-dropdown-1.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.wrapper-dropdown-1.active:after {
    border-color: #AD0891 transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

.wrapper-dropdown-1.active {
  background: #9bc7de;
  background: -moz-linear-gradient(left,  #9bc7de 0%, #9bc7de 78%, #ffffff 78%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9bc7de), color-stop(78%,#9bc7de), color-stop(78%,#ffffff), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(left,  #9bc7de 0%,#9bc7de 78%,#ffffff 78%,#ffffff 100%);
  background: -o-linear-gradient(left,  #9bc7de 0%,#9bc7de 78%,#ffffff 78%,#ffffff 100%);
  background: -ms-linear-gradient(left,  #9bc7de 0%,#9bc7de 78%,#ffffff 78%,#ffffff 100%);
  background: linear-gradient(to right,  #9bc7de 0%,#9bc7de 78%,#ffffff 78%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc7de', endColorstr='#ffffff',GradientType=1 );
}

.no-opacity       .wrapper-dropdown-1 .dropdown,
.no-pointerevents .wrapper-dropdown-1 .dropdown {
    display: none;
    opacity: 1; // If opacity support but no pointer-events support //
    pointer-events: auto; // If pointer-events support but no pointer-events support //
}

.no-opacity       .wrapper-dropdown-1.active .dropdown,
.no-pointerevents .wrapper-dropdown-1.active .dropdown {
    display: block;
}